<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsoleServer" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="org.server" level="info" additivity="false">
            <AppenderRef ref="LogToConsoleServer"/>
        </Logger>

        <logger name="org.hibernate" level="warn" additivity="false"> </logger>

        <Root level="info">
            <AppenderRef ref="LogToConsoleServer"/>
        </Root>
    </Loggers>
</Configuration>